.c3-line {
	stroke-width: 3px;
}

.c3-circle._expanded_ {
	stroke-width: 4px;
	stroke: white;
}

.c3-selected-circle {
	fill: white;
	stroke-width: 5px;
}
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 40px;
}

.charts {margin-top: 140px;
    z-index:5;
    overflow:auto;}

.aChart {
	width: 80%;
	margin: auto;
	margin-top: 10px;margin-bottom: 10px;
	text-align: justify;
}

.header {
	position: fixed; 
	top: 0;
	width: 100%;
	height: 100px;
	text-align: center;
	z-index:10;
    background:inherit;
    background-color: WhiteSmoke;
    line-height:100%;
}
    
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 20px;
	text-align: center;
	line-height: 20px;
}